* {
  margin: 0;
  padding: 0;
}
body {
  text-align: center;
  background-color: black;
  color: aliceblue;
}
.boxcontainer {
  background-color: rgb(141, 33, 181);
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

button {
  height: 200px;
  width: 200px;
  border-width: 5px;
  border-color: rgb(77, 212, 53);
  font-size: xx-large;
}
.biggerbox {
  background-color: blueviolet;
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, 200px);
}
h2 {
  color: rgb(212, 251, 42);
  font-size: xx-large;
}

@keyframes blink {
  0% {
    background-color: inherit;
  }
  50% {
    background-color: rgb(
      0,
      255,
      234
    );
  }
  100% {
    background-color: inherit;
  }
}
.blink {
  animation: blink 0.6s linear infinite;
}
